main {}
main .box {
    border:1px solid #cccccc;
    padding:40px 30px;
    display:inline-block;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    width:350px;
    margin: 80px auto;
    background: #f5f6f7;
}
main .box p {font-size:0.8rem;}
main .box p:nth-child(1) {padding-bottom:15px;}
main .box p:nth-child(2) {
    padding: 17px 0;
    display: inline-block;
    text-align: center;
    background:#03c75a;
}
main .box p button {
    color:#fff;
    font-weight: 600;
}
main .box .login_btm {
    padding-top:10px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
main .box .login_btm .idpw {}
main .box .login_btm .idpw a {font-size:0.8rem;}
main .box .login_btm a {font-size:0.8rem;}