main {}
main .box {
    border:1px solid #dae1e6;
    padding:20px;
    display:inline-block;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    width:350px;
    margin: 80px auto;
    background-color: #f7f9fa;
}
main .box p {font-size:0.8rem;}
main .box p:nth-child(1) {padding-bottom:15px;}
main .box p:nth-child(2) {
    padding: 17px 0;
    display: inline-block;
    text-align: center;
    background:#19ce60;;
}
main .box #login {
    color:#fff; font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 0;
    display: inline-block;
    text-align: center;
    background:#19ce60;;
}
main .box .login_btm {
    padding-top:10px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
main .box .login_btm .idpw {}
main .box .login_btm .idpw a {font-size:0.8rem;}
main .box .login_btm a {font-size:0.8rem;}