/* 공통인자 */
html, body > * {background-color: #f5f6f7;}
.bg {width: 460px; margin: 0 auto;}
/* 헤더 */
.bg {}
.bg .logo {margin: 50px 0 30px 0;}
.bg .logo img {}
/* 메인 */
main {}
main form {}
main form fieldset {}
main form fieldset legend {}
main form fieldset h2 {margin: 20px 0 10px 0; font-size: 1.25rem;}
main form fieldset input {width: 460px; height: 50px;}
main form fieldset input::placeholder {color: #000;}
main form fieldset .id {padding: 0 10px 0 340px;}
main form fieldset .date {}
main form fieldset .date legend {}
main form fieldset .date h2 {}
main form fieldset .date div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main form fieldset .date div input {
    width: 150px; height: 50px; padding: 0 0 0 10px;
}
main form fieldset .date div input::placeholder {color: #757575;}
main form fieldset .date div select {width: 150px; height: 50px;}
main form fieldset .date div select option {}
main form fieldset select {}
main form fieldset h2 {}
main form fieldset input {}
main form fieldset .email {color: #757575;}
main form fieldset input {width: 460px; height: 50px;}
main form fieldset select {width: 460px; height: 50px;}
main form fieldset select option {}
footer {}
footer .btm {}
footer .btm p {}
footer p {}
/* 03C75A / F5F6F7 / CCCCCC*/